<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a></li>
            <li class="breadcrumb-item" [routerLink]="['/poesia']" routerLinkActive="active">Livros de Poesia</li>
        </ol>
    </nav>
</div>
<div class="container justify-content-arond">
    <div class="item-lista" *ngFor="let livro of livros">
        <img [src]="livro.pathImage" alt="imagem Produto">
        <h4> {{livro.name}} </h4>
       
    </div>
</div>